<%- include('includes/head.ejs') %>
</head>
<body>
    <div class="container">
        <%- include('includes/navigation.ejs') %>
       <div class="content">
           <button type="button" class="navigation-button btn btn-primary" onclick="location.href='/view-report'">View Report</button>
           <button type="button" class="navigation-button btn btn-primary" onclick="location.href='/update-data'">Edit Data</button>
       </div>
    </div>
    <%- include('includes/end.ejs') %>